[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: PyGeometry
url: http://github.com/AndreaCensi/geometry

modules: geometry

output: html
target: source/my_static/apidocs/

#docformat: restructuredtext
exclude-introspect: geometry.unittests

graph: all

# introspect-only: True
